body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
body,
html{
 margin:  0; 
 padding: 0;
 font-size:18px;
}
body{
 background: url("../images/fundo.jpg");
 background-size:cover;

}
p{text-align:justify;}
a{
text-decoration: none;
color: blue;
}
.aside img {

margin: 0px 0px 0px 400px
}
img{
 max-width:100%;
 height:auto;
}
.menu{
 width:100%;
 display:block;
 clear:both;
}

.menu{
 background:black;
}
.menu ul li, 
.menu ul{
 margin:0;
 padding:0;
 list-style:none;
}
.menu ul li{
 display:inline-block;
}
.menu ul li a{
 display:block;
 color:#fff;
 padding:13px 20px;
}
.rodape{
 padding:20px;
 text-align:center;
 color: black;
}

